.mynav{
  background-color: white;
}


.mynav a{
  display: inline-block;
  position: relative;
  color: 
#0087ca;
font-size: small;
padding-left: 10px;
 
}

.dropdown-text{
  font-size: small;
  color: black;
}

.nav-link-style a:hover{
  font-weight: bold;
}

.nav-link-style a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
#0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link-style a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  
}


@media only screen and (max-width: 703px) {
  .mynav img{
   margin-bottom: 50px;
  }
}